<html>
<body>
<ul>
  <% if @tp.accepts_file? %>
    <li><a href="<%= @tp.file_content_return_url("#{@context_url}/file.txt", "file", "text/plain")%>">File</a></li>
  <% end %>
  <% if @tp.accepts_url? %>
    <li><a href="<%= @tp.url_content_return_url("#{@context_url}/public", "Public Page", "Public Page")%>">Url</a></li>
    <li><a href="http://localhost:3000/external_content/success/external_tool?embed_type=url&url=http%3A%2F%2Flocalhost%3A4567%2Fpublic&text=Public+Page&target=_blank&title=Public+Page">Url embed</a></li>
  <% end %>
  <% if @tp.accepts_lti_launch_url? %>
    <li><a href="<%= @tp.lti_launch_content_return_url("#{@context_url}/lti_tool", "LTI Launch", "LTI Launch")%>">LTI Launch</a></li>
  <% end %>
  <% if @tp.accepts_image_url? %>
    <li><a href="<%= @tp.image_content_return_url("#{@context_url}/fish.jpg", 260, 223, "Here fishy, fishy, fishy")%>">Image</a></li>
  <% end %>
  <% if @tp.accepts_iframe? %>
    <li><a href="<%= @tp.iframe_content_return_url("#{@context_url}/public", 400, 400, "An iframe")%>">Iframe</a></li>
  <% end %>
  <% if @tp.accepts_oembed? %>
    <li><a href="<%= @tp.oembed_content_return_url("#{@context_url}/video", "#{@context_url}/oembed")%>">oembed</a></li>
  <% end %>
</ul>
</body>
</html>